.feat_box_pages{
    width: 75%;
    display:inline-block;
    margin : 15px 8px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    background-color: white;
    color: #0065F8;
}
.feat_box_pages > *{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    display: inline;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px blue;
}
#mark50{
    background-color: #0BA6DF;
    box-shadow: 0 0 10px #0BA6DF;
    color: whitesmoke;
}
#mark50:hover{
    background-color: #2eb4e4;
    box-shadow: 0 0 15px #0BA6DF;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-top: 45px;
    padding: 25px;
}
.prediction{
    color: #134686;
    background-color : aliceblue;
    font-size: x-large;
    font-family:sans-serif;
    padding: 10px;
}
.prediction > a{
    color:darkcyan;
    background-color : aliceblue;
    font-size: x-large;
    font-family:sans-serif;
    padding: 10px;
    border: none;
    box-shadow: 0px 0 0;
    padding-bottom: 10px;
}





.login_feature{
    background: linear-gradient(300deg,#31326F,#4FB7B3,#A8FBD3);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: whitesmoke;
    margin: 0;
    padding: 10px;
    text-align: center;
}
@keyframes login_feature{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.login_feat_box_pages{
    width: 75%;
    display:inline-block;
    margin : 15px 8px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    background-color: white;
    color: #0065F8;
}
.login_feat_box_pages > *{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px blue;
}
#loginBut{
    background-color: #00a600;
    box-shadow: 0 0 15px #01bf01;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-top: 50px;
    padding: 20px;
}
#loginBut:hover{
    background-color: #01bf01;
    margin-top: 45px;
    padding: 25px;
}





.cgpa_feat_box_pages{
    width: 75%;
    display:inline-block;
    margin : 15px 8px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    background-color: white;
    color: #0065F8;
}
.cgpa_feat_box_pages > *{
    width: 20%;
    margin: 1px 1px 50px 50px;
    padding: 20px;
    display: inline;
    text-align: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px blue;
}
#cgpa_But{
    background-color: #00a600;
    box-shadow: 0 0 15px #01bf01;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-top: 50px;
    padding: 20px;
    width: 100px;
}
#cgpa_But:hover{
    background-color: #01bf01;
    margin-top: 45px;
    padding: 25px;
}
.disptable{
    color: #134686;
    height: max-content;
    background-color : aliceblue;
    font-size: large;
    font-family:sans-serif;
    padding: 10px;
    justify-items: center;
}
.disptable > input{
    color: whitesmoke;
    height: max-content;
    margin: 10px 10px 10px 10px;
    background-color : #2acf2a;
    box-shadow: 0 0 10px green;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
    padding: 10px;
}
.disptable > input:hover{
    margin: 12px 12px 10px 10px;
    background-color : #32eb32;
    box-shadow: 0 0 12px green;
    padding: 12px;
}
#tabDisp{
    width: 80%;
    box-shadow: 0 0 10px #6E8CFB;
    align-items: center;
    justify-items: center;
    margin: 10px 5px;
    padding: 20px;
    display: block;
}
#tabDisp > tr,td,th{
    border: 1px solid blue;
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    padding: 20px 20px;
    color: blue;
}
.remRow{
    background-color: red;
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: large;
    box-shadow: 0 0 5px red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.remRow:hover{
    padding: 15px 20px;
    box-shadow: 0 0 10px red;
}